header, main {
	color: #EEE2DC;
	text-align: center;
}

header h1 {
	font-size: 130px;
}

header h2 {
	font-size: 52px;
}

main h3 {
	font-size: 70px;
	color: #D9B08C;
}

main h4 {
	font-size: 44px;
	color: #FFCB9A;
}

body {
	background: linear-gradient(to right, #123C69, #AC3B61);
	font-size: 22px;
	color: #D1E8E2;
	text-align: center;
}

main {
	background: linear-gradient(to top, #2C3531, #116466);
}

html {
	scroll-behavior: smooth;
}

footer {
	background: linear-gradient(to top, #2F4454, #2E151B);
}

footer h3 {
	font-size: 70px;
	color: white;
	text-align: center;
}

ul {
	list-style-type: none
}
