body
{
	font-family: Georgia, sans-serif;
	font-size: 20px;
}

h1
{
	background-color: #2E3436;
	text-align: center;
	color: green;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    text-align: center;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

.Menu
{
    text-align: center;
}

h2
{
    color: green;
}

strong
{
    color: red;
}

#boite
{
    display: flex;
}

footer
{
	text-align: center;
	color: green;
	background-color: #2E3436
}   

.imageflottante
	{
		float: left;
	}

.imageflottante2
	{
		float: right;
	}

.projet
{
	text-align: center;
}

iframe
{
	position: absolute;
	left: 30%%;
	right: 30%;
}

h3
{
	color: navy;
}

article
{
	background: #C4CCC8
}
