@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans');
}

body {
	background: linear-gradient(to right, #E37222, teal);
	font-family: Open Sans;
}

header {
	text-align: center;
	color: white;	
	vertical-align: top;
	margin-bottom: 40px;
}


main {
	background-color: white;
  	margin: auto;
	width: 60%;
    border-radius: 10px;
}

main h2 {
	text-align: center;
	color: #E37222;
	font-size: 40px;
}

main h3 {
	text-align: center;
	color: teal;
	font-size: 35px;
}

main h4 {
	text-align: center;
	color: teal;
	font-size: 30px;
}

main p {
	font-size: 20px;
	margin-left: 25px;
	margin-right: 25px;
	color: teal;
}

main a {
	text-decoration: none;
	color: #E37222;
	font-size: 20px;
}

main a:hover {
	color: #EEAA7B;
	border-bottom: solid #EEAA7B;
}

.menu {
	text-align: center;
	font-size: 22px;
}

li {
	color: teal;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #E37222;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #EEAA7B;
}

div {
	border-radius: 5px;
	padding: 20px;
	color: teal;
}

@media screen and (max-width: 840px) {
	main {
		width: 92%;
	}
}

textarea {
	width: 100%;
	font-family: Open Sans;
}
